* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TODO: sistemare il titolo */
h1{
    color: rgb(229 50 112);
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 30px;
}

main {
    margin: 40px 180px;
}

.description {
    margin: 50px 0px;
}

/* TODO: add font styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.card-item {
    display: flex;
    background-color: rgb(15 14 23);
    color: white;
    margin-bottom: 50px;
    flex-basis: 450px;
    align-items: stretch;
}

img {
    width: 120px;
}

.card-info {
    display: flex;
    padding: 10px;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-around;
}

/* FIXME: rimuovere sottolinea */
.mail-style {
    color: rgb(106 200 235);
}